<mat-sidenav-container>
  <mat-sidenav-content>
      <mat-toolbar color="primary">
      <div fxFlex fxLayout fxLayoutAlign="left" fxHide.xs>
        <a mat-menu-item>
        <mat-icon class="icon">note_add</mat-icon>
        <span class="label">Drug repositioning </span>
        </a>
      </div>
      </mat-toolbar>
      <mat-tab-group color="accent">
        <mat-tab label="Search"> <app-search></app-search></mat-tab>
        <mat-tab label="Source"> <app-source></app-source></mat-tab>
        <mat-tab label="About author"><app-info></app-info></mat-tab>
      </mat-tab-group>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
  
</mat-sidenav-container>