<mat-card>
    <mat-card-header>
        <mat-card-title>Author</mat-card-title>
    </mat-card-header>

    <mat-card-header>
        <img  class="map-frame" [src] ="figProfile" style="width: 300px;height: 200px;"> 
        <mat-card-content>
            <mat-card-subtitle>{{objective}}</mat-card-subtitle>
            <mat-card-subtitle>{{education1}}</mat-card-subtitle>
            <mat-card-subtitle>{{education2}}</mat-card-subtitle>
            <mat-card-subtitle>{{education3}}</mat-card-subtitle>
            <mat-card-subtitle>{{education4}}</mat-card-subtitle>
        </mat-card-content>       
    </mat-card-header>

    <mat-card-header>
        <mat-card-title>Proposal</mat-card-title>
    </mat-card-header>
    <mat-card-header>
      <mat-card-content>{{content1}}</mat-card-content>
    </mat-card-header>
    <mat-card-content>
        <img  class="map-frame" [src] ="fig1" style="width: 300px;height: 200px;"> 
        <mat-card-subtitle>{{fig1_description}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-header>
        <mat-card-content>{{content2}}</mat-card-content>
    </mat-card-header>
    <mat-card-content>
        <img  class="map-frame" [src] ="table1" style="width: 600px;height: 650px;"> 
        <mat-card-subtitle>{{fig1_description}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-header>
        <mat-card-content>{{content3}}</mat-card-content>
    </mat-card-header>
</mat-card>

